@use '../global' as *;
@use "top";

[data-barba="container"] {
  height: 100%;
  position: relative;
  z-index: 2;
}

// grid container
.wrapper {
  display: grid;
  grid-template-columns: 380px minmax(0, 1fr);
  grid-template-rows: auto auto 1fr auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100%;
  margin: 0 68px;
  container: wrapper/inline-size;

  @include is-medium {
    margin: 0 47px;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &:has(.contents-portfolio) {
      grid-template-rows: auto auto auto auto 1fr;
    }
  }

  &:has(.contents-portfolio) {
    grid-template-rows: auto auto auto auto 1fr;
  }

  @include is-small {
    margin: 0 41px;

  }
}

.loadLayer {
  position: fixed;
  inset: 0;
  background: $color-back;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility .5s ease-out;

  &.is-loading {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-out, visibility .3s ease-out;
  }
}

// grid children
@include is-medium('up') {
  .header { grid-area: 1 / 1 / 2 / 6; }
  .header-small { grid-area: 1 / 1 / 2 / 2; }
  .aside {
    grid-area: 2 / 1 / 5 / 2;
  }
  .aside-small {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
  }
  .aside-news {
    grid-area: 4 / 1 / 5 / 2;

    &.is-sticky{
      position: sticky;
      bottom: 40px;
    }
  }
  .aside-control {
    grid-area: 3 / 1 / 4 / 2;
    align-self: flex-end;
  }
  .aside-portfolio {
    grid-area: 4 / 1 / 5 / 2;
    align-self: flex-end;
  }
  .contents {
    grid-area: 2 / 2 / 5 / 6;
  }
  .contents-wide {
    grid-area: 3 / 1 / 4 / 6;
  }
  .contents-tall {
    grid-area: 1 / 2 / 5 / 3;
  }

  .contents-portfolio {
    grid-area: 2 / 2 / 5 / 3;
  }
}


@include is-medium {
  .aside-news {
    margin-top: auto;
  }
  .aside-control {
    position: relative;
  }
}

.footer {
  grid-area: 5 / 1 / 6 / 3;
  justify-self: center;
  margin: 50px 0 20px;
  align-self: flex-end;

  @include is-medium {
    grid-area: auto;
    justify-self: flex-end;
  }

  @include is-small {
    width: 100%;
    text-align: center;
  }

  svg {
    width: 100%;
    max-width: 230px;
    vertical-align: bottom;
    fill: var(--color-text, inherit);
    margin-inline: auto;

    @include is-medium {
      max-width: 211px;
    }

    @include is-small {
      max-width: 192px;
    }
  }

  small {
    font-size: inherit;
  }
}

.navi {
  font-size: 1.7rem;
  position: relative;
  font-family: $font-family-en;

  @include is-medium {
    font-size: 1.6rem;
    width: fit-content;
  }

  @include is-small {
    position: static;
  }

  @include is-small {
    font-size: 1.5rem;
  }

  li + li {
    margin-top: 12px;

    @include is-medium {
      margin-top: 6px;
    }
  }

  a {
    display: block;
    width: fit-content;
    position: relative;
    line-height: 1;
    letter-spacing: 0.05em;
    padding: .2em 0;
    overflow: hidden;

    &.is-current {
      opacity: .35;
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: currentColor;
      height: 1px;
      transition: transform .5s ease-out;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: currentColor;
      height: 1px;
      transform: translateX(calc(-100% - 100px));
      transition: transform .5s ease-out;
    }

    &:hover {
      opacity: 1;

      &:before {
        transform: translateX(0px);
      }

      &:after {
        transform: translateX(100%);
      }
    }
  }
}

.navi_inquiry {
  width: 34px;
  height: abs($number: 0);
  margin-top: 43px;

  @include is-medium {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(calc(100% + 39px), 0);
  }

  @include is-small {
    display: none;
  }

  svg {
    vertical-align: bottom;
    width: 100%;
    height: 20px;
    fill: currentColor;
  }
}

.inquiryIcon {
  position: absolute;
  top: 30px;
  right: 21px;
  display: none;

  @include is-small {
    display: block;
  }

  svg {
    vertical-align: bottom;
    width: 30px;
    height: 18px;
    fill: currentColor;
  }
}

.page-aboutContents {
  display: flex;
  column-gap: 65px;
  margin-top: 51px;

  @include is-medium {
    display: block;
    column-count: 2;
    column-gap: 45px;
    margin-top: 60px;
  }

  @include is-small {
    margin-top: 50px;
    column-count: 1;
  }
}

.page-aboutContentsProfile {
  width: 320px;

  @include is-medium {
    width: auto;
    max-width: 410px;
  }
}

.page-aboutContentsProfile_name {
  line-height: 1;
  display: flex;
  column-gap: 18px;

  @include is-medium {
    font-size: 1.5rem;
  }
}

.page-aboutContents_text {
  font-size: 1.3rem;
  line-height: 1.8;
  margin-top: 20px;

  @include is-medium {
    margin-top: 15px;
  }
}

.page-aboutContentsHistory {
  font-size: 1.2rem;
  margin-top: 35px;
  line-height: 1.8333333333333333;
  break-before: column;
  flex: 1;

  @include is-medium {
    margin-top: 26px;
    break-before: auto;
  }

  @include is-small {
    margin-top: 33px;
  }
}

.page-aboutContentsHistory_list {
  column-count: 2;
  column-width: 250px;
  column-gap: 25px;
  width: fit-content;
  width: 100%;
  max-width: 525px;

  @include is-medium {
    column-count: auto;
  }

  li {
    max-width: 250px;

    & + li {
      margin-top: 2px;
    }
  }
}

.news {
  margin-top: 60px;

  @include is-small {
    margin-top: 74px;
  }
}

.top-news_label {
  font-family: $font-family-en;

  @include is-medium {
    font-size: 1.3rem;
  }
}

.news_label {
  font-family: $font-family-en;

  @include is-medium {
    font-size: 1.3rem;
  }
}

.news_list {
  margin-top: 14px;
  font-size: 1.6rem;
  font-family: $font-family-en;

  @include is-medium {
    font-size: 1.5rem;
  }

  @include is-small {
    font-size: 1.4rem;
  }
}

.news_item {
  font-family: $font-family-en;

  & + & {
    margin-top: 14px;
  }
}

.news-post {
  display: block;
  position: relative;
  font-size: 1.6rem;

  @include is-medium {
    font-size: 1.5rem;
  }

  @include is-small {
    font-size: 1.4rem;
  }
}

.news_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  top: .35em;
  left: -11px;
  transform: translateX(-100%);

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}


.header_about {
  text-align: center;
  padding: 50px 0 73px;

  @include is-medium {
    padding: 40px 0 37px;
    text-align: left;
  }

  &_logo {
    font-size: 1px;
    line-height: 1;

    svg {
      vertical-align: bottom;
      width: 300px;
      fill: currentColor;
      display: block;
      margin: 0 auto;

      @include is-medium {
        width: 280px;
        margin: 0;
      }

      @include is-small {
        width: 250px;
      }
    }
  }
}

/////// archive
.header_news,
.header_portfolio {
  padding: 50px 0 143px;
  font-size: 1px;
  line-height: 1;

  @include is-medium {
    padding: 40px 0 48px;
    text-align: left;
  }

  @include is-small {
    padding: 32px 0 37px;
    text-align: left;
  }

  &_logo {
    font-size: 1px;
    line-height: 1;

    .large {
      display: block;

      @include is-medium {
        display: none;
      }
    }

    .small {
      display: none;

      @include is-medium {
        display: block;
      }
    }

    svg {
      width: 90px;
      display: block;
      fill: currentColor;

      @include is-medium {
        width: 280px;
      }

      @include is-small {
        width: 250px;
      }
    }
  }

  img,
  picture {
    vertical-align: bottom;

    @include is-medium {
      width: 280px;
    }

    @include is-small {
      width: 250px;
    }
  }
}

.page-news_logo,
.page-portfolio_logo {
  padding-top: 50px;
  font-size: 1px;
  line-height: 1;

  @include is-medium {
    display: none;
  }

  svg {
    width: 181px;
    fill: currentColor;
    display: block;
  }
}

.page-news_posts {
  @include is-medium {
    margin-bottom: 60px;
  }
}

.page-newsPost {
  margin-top: 100px;

  @include is-medium {
    margin-top: 50px;
  }

  & + & {
    margin-top: 150px;

    @include is-medium {
      margin-top: 90px;
    }

    @include is-small {
      padding-top: 49px;
      margin-top: 49px;
      border-top: 1px solid currentColor;
    }
  }
}

.page-newsPost_title {
  line-height: 1.4666666666666666;
  position: relative;

  @include is-medium {
    font-size: 1.4rem;
  }
}

.page-newsPost_titleIcon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0.25em;
  left: -23px;
  fill: currentColor;
}

.page-newsPost_date {
  display: flex;
  font-size: 1.7rem;
  margin-top: 10px;
  line-height: 1;
  font-family: $font-family-en;

  @include is-medium {
    font-size: 1.6rem;
  }

  .year {
    margin-left: 1em;
  }
}

.page-newsPost_contents {
  max-width: 800px;
  margin-top: 58px;
  line-height: 2.14;
  position: relative;

  @include is-medium {
    margin-top: 40px;
    font-size: 1.4rem;
  }

  @include is-small {
    max-width: 330px;
  }

  p {
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
    margin: 1em 0 1mm 1.5em;
  }

  ol {
    list-style: decimal;
    margin: 1em 0 1mm 1.5em;
  }

  li {
    list-style: inherit;
  }

  hr {
    background: currentColor;
    margin: 2em 0;
    border: none;
    height: 1px;
    opacity: .25;
    border-color: currentColor;
  }
}

.page-newsPost_link {
  margin-top: 40px;

  @include is-medium {
    margin-top: 25px;
  }

  a {
    color: var(--color-text, #6e6e6e);;
  }
}

.page-newsPostInfo {
  margin-top: 84px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: .65em;
    left: -23px;
    width: 12px;
    height: 1px;
    background: currentColor;
  }

  @include is-medium {
    margin-top: 45px;
  }
}

.page-newsPostInfo_list {
  display: flex;
  flex-direction: column;
  margin-top: .45em;
  gap: 0 .45em;
  line-height: 2.14;

  dt {
    display: inline;

    &::after {
      content: "：";
      margin-inline: .25em;
    }
  }

  dd {
    display: inline;

    span {
      display: block;
    }
  }
}

.page-portfolioArchive_lists {
  margin-top: 143px;
  margin-right: -68px;
  overflow: hidden;
  width: calc(100cqw + 68px);

  @include is-medium {
    margin-top: 49px;
    margin-right: -47px;
    margin-bottom: 20px;
    width: calc(100cqw + 47px);
  }

  @include is-small {
    margin-top: 49px;
    margin-right: 0;
    margin-bottom: 0;
    width: 100cqw;
  }

  .swiper-slide {
    width: max-content;
  }
}

.page-portfolioArchive_list {
  box-sizing: content-box;
  width: 220px;

  @include is-medium {
    width: 180px;
  }

  li + li {
    margin-top: 1.7em;

    @include is-medium {
      margin-top: 1em;
    }
  }
}

.controller {
  display: flex;
  margin-block: 50px -10px;
  margin-left: -10px;

  @include is-medium {
    margin: 0;
    &.page-portfolio_control {
      position: absolute;
      top: 0;
      right: -10px;
    }
  }

  &_item {
    & + & {
      margin-left: 16px;

      @include is-medium {
        margin-left: 20px;
      }
    }
  }
}



.page-portfolioArchiveWrapper {
  display: contents;
  position: relative;

  @include is-small {
    display: block;
  }

  .aside-control {
    @include is-small {
      position: static;
    }
  }

  @include is-small {
    .page-portfolio_control {
      position: static;
    }

    .controller_item button {
      position: absolute;
      top: 49px;
      bottom: 0;
      margin: auto;
    }

    .controller_item:first-child button {
      transform: translateX(-100%);
    }

    .controller_item:last-child button {
      left: auto;
      right: 0;
      transform: translateX(100%);
    }
  }
}

.controller_button {
  appearance: none;
  width: 40px;
  aspect-ratio: 1;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  text-align: center;

  svg {
    // display: none;
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
    fill: currentColor;
  }

  // &.is-prev {
  //   background: url(../images/common/icon_arrow_prev.svg) no-repeat center/10px auto;
  // }

  // &.is-next {
  //   background: url(../images/common/icon_arrow_next.svg) no-repeat center/10px auto;;
  // }

  &[disabled] {
    opacity: .25;
    cursor: default;
  }
}

.portfolio-data {
  min-height: 320px;
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: flex-end;

  @include is-medium {
    min-height: 0;
  }

  @include is-small {
    margin-top: 35px;
  }

  dl {
    display: flex;
    flex-direction: column;
    gap: 0 4px;
    margin: 52px 0 15px;
    line-height: 1.857;

    @include is-medium {
      margin-top: 0;
      gap: 0px 4px;
      margin-bottom: 0;
    }

    > div {
      display: flex;
      font-size: 1.4rem;
      max-width: 330px;
    }

    .theme {
      margin-bottom: 5px;
      position: relative;
      font-family: $font-family-en;

      svg {
        position: absolute;
        width: 12px;
        height: 12px;
        top: 0.3em;
        left: -23px;
        fill: currentColor;
      }

      @include is-medium {
        margin-bottom: 5px;
      }
    }

    .title {
      margin-bottom: 5px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: .65em;
        left: -23px;
        width: 12px;
        height: 1px;
        background: currentColor;
      }

      @include is-medium {
        margin-bottom: 5px;
      }
    }

    .note {
      a {
        opacity: 0.65;
        display: block;

        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
  dt {
    width: 5em;
    line-height: 1;
    padding-top: 0.35em;

    @include is-medium {
      font-size: 1.2rem;
      margin-right: 10px;
    }
  }

  dd {
    flex: 1;

    @include is-medium {
      font-size: 1.5rem;
    }

    &.js-portfolioData-date {
      font-family: $font-family-en;
    }

    &.js-portfolioData-note {
      a {
        color: var(--color-text, #6e6e6e);
      }
    }
  }

  .controller {
    position: absolute;
    top: 0;
    left: -10px;
    margin: 0;

    @include is-medium {
      top: -10px;
      right: -10px;
      left: auto;
      display: none;
    }
  }
}

.page-portfolioSingle_listWrap {
  margin-right: -68px;
  overflow-x: hidden;

  @include is-medium {
    margin-top: 43px;
    margin-right: -47px;
  }

  @include is-small {
    margin-top: 33px;
    margin-right: -41px;
    width: calc(100cqw + 41px);
  }
}

.page-portfolioSingle_list {
  max-width: 540px;

  @include is-small {
    max-width: 280px;
  }

  .swiper {
    overflow: visible;
  }
}

.page-portfolioSingle_item {
  width: 100%;
  padding-right: 90px;

  @include is-small {
    padding-right: 45px;
  }

  a {
    display: block;
    width: 100%;
    aspect-ratio: 1/1.48889;
    position: relative;

    @include is-small {
      aspect-ratio: 1/1.5;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border: 1px solid currentColor;
    border-left-color: transparent;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.is-loaded {
    &::before {
      display: none;
    }
  }

  a:hover {
    opacity: 1;
  }

  img {
    object-fit: cover;
    vertical-align: bottom;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-radius: 10px;

    @include is-medium {
      // width: 304px;
      left: auto;
    }

    @include is-small {
      border-radius: 7px;
    }
  }
}

.page-inquiry {
  margin-bottom: 40px;
}

.page-inquiryForm {
  max-width: 760px;

  code {
    font-family: inherit;
  }
}

.page-inquiryForm_blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10.52631%;
  margin-top: 140px;

  @include is-medium {
    margin-top: 59px;
    column-gap: 35px;
  }

  @include is-small {
    margin-top: 49px;
    flex-direction: column;
    column-gap: 20px;
    max-width: 300px;
  }

  & + & {
    margin-top: 36px;

    @include is-medium {
      margin-top: 30px;
    }
  }
}

.page-inquiryForm_block {
  flex: 1 1 40%;
  max-width: 44.736845%;

  @include is-medium {
    font-size: 1.4rem;
    max-width: calc(50% - 22px);
  }

  @include is-small {
    font-size: 1.3rem;
    max-width: none;
  }

  label {
    display: flex;
    border-bottom: 1px solid currentColor;
    gap: 20px;
    line-height: 1;
    align-items: center;
    position: relative;

    @include is-medium {
      column-gap: 15px;
    }

    p {
      width: 5em;
      padding-block: 5px;
      flex-shrink: 1;

      @include is-small {
        padding-block: 2px;
      }

      &::before {
        content: "◯";
        display: inline-block;
        margin-right: 0.25em;
        line-height: 1;
      }
    }

    .wpcf7-form-control-wrap {
      flex: 1;
    }

    input,
    select {
      width: 100%;
      background: none;
      border: none;
      padding-block: 5px;
      font-family: inherit;
      color: currentColor;

      @include is-small {
        padding-block: 2px;
      }
    }
  }

  .wpcf7-form-control-wrap {
    position: static;
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    top: calc(100% + .5em);
    left: 0;
    color: inherit;

    &::before {
      content: ""
    }
  }
}

.wpcf7-response-output {
  border: none !important;
  background: #fff;
  margin: 1em 0 0 !important;
}

.page-inquiryForm_textarea {
  margin-top: 60px;

  @include is-medium {
    margin-top: 40px;
  }

  @include is-small {
    margin-top: 35px;
    max-width: 300px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  p {
    line-height: 1;

    @include is-medium {
      font-size: 1.4rem;
    }

    @include is-medium {
      font-size: 1.3rem;
    }

    &::before {
      content: "●";
      display: inline-block;
      margin-right: 0.25em;
      line-height: 1;
    }
  }

  textarea {
    width: 100%;
    height: 11.5em;
    font-family: inherit !important;

    @include is-medium {
      height: 13lh;
    }
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    top: calc(100% + .5em);
    left: 0;
    color: inherit;

    &::before {
      content: ""
    }
  }
}

.page-inquiryForm_button {
  margin-top: 52px;
  width: max-content;
  transition: opacity .2s ease-out;
  position: relative;

  &:hover {
    opacity: .65;
  }

  @include is-medium {
    margin-top: 30px;
  }

  svg {
    width: 25px;
    height: 32px;
    fill: currentColor;
    position: absolute;
    inset: auto 0;
    margin: auto 0;
  }

  input,
  button {
    appearance: none;
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
    height: 38px;
    width: 78px;
    text-align: right;
  }
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: .3s opacity, .3s visibility;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}

.modal_inner {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border: 2px solid #fff;
    border-left-color: transparent;
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.modal_imageWrap {
  position: absolute;
  inset: 40px;
  margin: auto;

  img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: min(100%, 1920px);
    max-height: min(100%, 1920px);
  }
}

.modal_close {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 44px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  backdrop-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 1px;
    background: #fff;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.page-about-video-trigger {
  position: fixed;
  top: 50px;
  right: 32px;
  width: 44px;
  aspect-ratio: 1;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  text-align: center;

  @include is-medium {
    top: 30px;
    right: 28px;
  }

  @include is-small {
    top: 24px;
    right: 10px;
  }

  svg {
    fill: currentColor;
    margin: 0 auto;
  }

  .playing {
    display: none;
  }

  &.is-pause {
    .playing {
      display: revert;
    }

    .pause {
      display: none;
    }
  }
}

.page-about-video-volume-trigger {
  position: fixed;
  top: 100px;
  right: 32px;
  width: 44px;
  aspect-ratio: 1;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  text-align: center;

  @include is-medium {
    top: 84px;
    right: 28px;
  }

  @include is-small {
    top: 68px;
    right: 10px;
  }

  svg {
    fill: currentColor;
    margin: 0 auto;
  }

  .off {
    display: none;
  }

  &.is-muted {
    .on {
      display: none;
    }

    .off {
      display: revert;
    }
  }
}

.page-about-video {
  position: fixed;
  inset: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
  height: 100lvh;
  width: 100vw;
  transition: .5s opacity, .5s visibility;

  &.is-pause {
    opacity: 0;
    visibility: hidden;
  }
}
