@use '../global' as *;
@use "top";

[data-barba="container"] {
  height: 100%;
}

// grid container
.wrapper {
  display: grid;
  grid-template-columns: 380px minmax(0, 1fr);
  grid-template-rows: auto auto 1fr auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100%;
  margin: 0 68px;

  &:has(.contents-portfolio) {
    grid-template-rows: auto auto auto auto 1fr;
  }
}

.loadLayer {
  position: fixed;
  inset: 0;
  background: $color-back;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-out, visibility .3s ease-out;

  &.is-loading {
    opacity: 1;
    visibility: visible;
    transition: opacity .15s ease-out, visibility .15s ease-out;
  }
}

// grid children
.header { grid-area: 1 / 1 / 2 / 6; }
.header-small { grid-area: 1 / 1 / 2 / 2; }
.aside {
  grid-area: 2 / 1 / 5 / 2;
}
.aside-small {
  grid-area: 2 / 1 / 3 / 2;
  position: relative;
}
.aside-news {
  grid-area: 4 / 1 / 5 / 2;
}
.aside-control {
  grid-area: 3 / 1 / 4 / 2;
  align-self: flex-end;
}
.aside-portfolio {
  grid-area: 4 / 1 / 5 / 2;
  align-self: flex-end;
}
.contents {
  grid-area: 2 / 2 / 5 / 6;
}
.contents-wide {
  grid-area: 3 / 1 / 4 / 6;
}
.contents-tall {
  grid-area: 1 / 2 / 5 / 3;
}

.contents-portfolio {
  grid-area: 2 / 2 / 5 / 3;
}

.footer {
  grid-area: 5 / 1 / 6 / 3;
  justify-self: center;
  margin: 30px 0 20px;
  align-self: flex-end;

  svg {
    width: 100%;
    max-width: 230px;
    vertical-align: bottom;
    fill: var(--color-text, inherit);
  }

  small {
    font-size: inherit;
  }
}

.header_about {
  text-align: center;
  padding: 50px 0 73px;

  &_logo {
    font-size: 1px;
    line-height: 1;

    img {
      vertical-align: bottom;
    }
  }
}

.navi {
  font-size: 1.7rem;

  @include is-medium {
    font-size: 1.6rem;
  }

  @include is-small {
    font-size: 1.5rem;
  }
  
  li + li {
    margin-top: 15px;
  }

  a {
    display: block;
    width: fit-content;
    position: relative;
    line-height: 1;
    letter-spacing: 0.05em;
    padding: .2em 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: currentColor;
      height: 1px;

    }
  }
}

.page-aboutContents {
  display: flex;
  column-gap: 65px;
  margin-top: 51px;

  @include is-medium {
    display: block;
    column-count: 2;
    column-gap: 45px;
  }
}

.page-aboutContentsProfile {
  width: 320px;

  @include is-medium {
    width: auto;
    max-width: 410px;
  }
}

.page-aboutContentsProfile_name {
  line-height: 1;
  display: flex;
  column-gap: 18px;
}

.page-aboutContents_text {
  font-size: 1.3rem;
  line-height: 1.6923;
  margin-top: 28px;
}

.page-aboutContentsHistory {
  font-size: 1.2rem;
  margin-top: 43px;
  line-height: 1.8333333333333333;
  break-before: column;
  flex: 1;

  @include is-medium {
    margin-top: 36px;
    break-before: auto;
  }
}

.page-aboutContentsHistory_list {
  column-count: 2;
  column-width: 250px;
  column-gap: 25px;
  width: fit-content;
  width: 100%;
  max-width: 525px;

  @include is-medium {
    column-count: auto;
  }

  li {
    max-width: 250px;
  }
}

.news {
  margin-top: 60px;

  @include is-small {
    margin-top: 74px;
  }
}

.top-news_label {
  @include is-medium {
    font-size: 1.3rem;
  }
}

.news_label {
  @include is-medium {
    font-size: 1.3rem;
  }
}

.news_list {
  margin-top: 14px;
  font-size: 1.6rem;

  @include is-medium {
    font-size: 1.5rem;
  }

  @include is-small {
    font-size: 1.4rem;
  }
}

.news_item {
  & + & {
    margin-top: 28px;

    @include is-small {
      margin-top: 24px;
    }
  }
}

.news-post {
  display: block;
  position: relative;
  font-size: 1.6rem;
}

.news_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  top: .35em;
  left: -11px;
  transform: translateX(-100%);

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}


/////// archive
.header_news,
.header_portfolio {
  padding: 50px 0 143px;

  &_logo {
    font-size: 1px;
    line-height: 1;

    img {
      vertical-align: bottom;
    }
  }
}

.page-news_logo,
.page-portfolio_logo {
  padding-top: 50px;
  font-size: 1px;
  line-height: 1;

  img {
    vertical-align: bottom;
  }
}

.page-newsPosts {
  margin-top: 100px;
}

.page-newsPost {
  margin-top: 100px;

  & + & {
    margin-top: 150px;
  }
}




.page-newsPost_contents {
  max-width: 800px;
}

.page-newsPost_title {
  line-height: 1.4666666666666666;
}

.page-newsPost_date {
  display: flex;
  font-size: 1.7rem;
  margin-top: 10px;
  line-height: 1;

  .year {
    margin-left: 1em;
  }
}

.page-newsPost_contents {
  margin-top: 58px;
  line-height: 1.86;

  p {
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
    margin: 1em 0 1mm 1.5em;
  }

  ol {
    list-style: decimal;
    margin: 1em 0 1mm 1.5em;
  }

  li {
    list-style: inherit;
  }

  hr {
    background: currentColor;
    margin: 2em 0;
    border: none;
    height: 1px;
    opacity: .25;
  }
}

.page-newsPost_link {
  margin-top: 40px;
}

.page-newsPostInfo {
  margin-top: 84px;
}

.page-newsPostInfo_list {
  display: flex;
  flex-direction: column;
  margin-top: .45em;
  gap: .45em;

  dt {
    display: inline;
    
    &::after {
      content: "：";
      margin-inline: .25em;
    }
  }

  dd {
    display: inline;

    span {
      display: block;
    }
  }
}

.page-portfolioArchive_lists {
  margin-top: 143px;
  margin-right: -68px;

  .swiper-slide {
    width: max-content;
  }
}

.page-portfolioArchive_list {
  box-sizing: content-box;
  width: 220px;
  padding-right: 40px;

  li {
    margin-top: .9em;
  }
}


.controller {
  display: flex;
  margin-block: 50px -10px;
  margin-left: -10px;
}

.controller_button {
  appearance: none;
  width: 40px;
  aspect-ratio: 1;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;

  svg {
    display: none;
  }

  &.is-prev {
    background: url(../images/common/icon_arrow_prev.svg) no-repeat center/10px auto;
  }

  &.is-next {
    background: url(../images/common/icon_arrow_next.svg) no-repeat center/10px auto;;
  }

  &[disabled] {
    opacity: .25;
    cursor: default;
  }
}

.portfolio-data {
  min-height: 320px;
  margin-top: 40px;
  position: relative;
  display: flex;
  align-items: flex-end;

  dl {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 52px 0 15px;

    > div {
      display: flex;
      font-size: 1.6rem;
      max-width: 330px;
    }  

    .theme {
      margin-bottom: 7px;
    }

    .title {
      margin-bottom: 7px;
    }
  }
  dt {
    width: 5em;
  }

  dd {
    flex: 1;
  }

  .controller {
    position: absolute;
    top: 0;
    left: -10px;
    margin: 0;
  }
}

.page-portfolioSingle_listWrap {
  margin-right: -68px;
  overflow-x: hidden;
}

.page-portfolioSingle_list {
  max-width: 447px;

  .swiper {
    overflow: visible;
  }
}

.page-portfolioSingle_item {
  width: 100%;
  aspect-ratio: 0.65658/1;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border: 1px solid currentColor;
    border-left-color: transparent;
    width: 24px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }

  img {
    width: 447px;
    vertical-align: bottom;
    position: absolute;
    inset: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}

.page-inquiryForm {
  max-width: 760px;

  code {
    font-family: inherit;
  }
}

.page-inquiryForm_blocks {
  display: flex;
  flex-wrap: wrap;
  gap: 36px 10.52631%;
  margin-top: 140px;

  & + & {
    margin-top: 36px;
  }
}

.page-inquiryForm_block {
  flex: 1 1 40%;
  max-width: 44.736845%;

  label {
    display: flex;
    border-bottom: 1px solid currentColor;
    gap: 20px;
    line-height: 1;
    align-items: center;
    position: relative;

    p {
      width: 5em;
      padding-block: 5px;
      flex-shrink: 1;

      &::before {
        content: "◯";
        display: inline-block;
        margin-right: 0.25em;
        line-height: 1;
      }
    }

    .wpcf7-form-control-wrap {
      flex: 1;
    }

    input,
    select {
      width: 100%;
      background: none;
      border: none;
      padding-block: 5px;
      font-family: inherit;
    }
  }

  .wpcf7-form-control-wrap {
    position: static;
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    top: calc(100% + .5em);
    left: 0;

    &::before {
      content: "▲"
    }
  }
}

.page-inquiryForm_textarea {
  margin-top: 60px;

  label {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  p {
    line-height: 1;
    
    &::before {
      content: "●";
      display: inline-block;
      margin-right: 0.25em;
      line-height: 1;
    }
  }

  textarea {
    width: 100%;
    height: 11.5em;
    font-family: inherit !important;
  }

  .wpcf7-not-valid-tip {
    position: absolute;
    top: calc(100% + .5em);
    left: 0;

    &::before {
      content: "▲"
    }
  }
}

.page-inquiryForm_button {
  margin-top: 64px;

  input,
  button {
    appearance: none;
    cursor: pointer;
    font-family: inherit;
  }
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: .3s opacity, .3s visibility;

  &.is-visible {
    visibility: visible;
    opacity: 1;
  }
}

.modal_inner {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border: 2px solid #fff;
    border-left-color: transparent;
    width: 32px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.modal_imageWrap {
  position: absolute;
  inset: 40px;
  margin: auto;

  img {
    position: absolute;
    inset: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: min(100%, 1920px);
    max-height: min(100%, 1920px);
  }
}

.modal_close {
  position: absolute;
  z-index: 100;
  top: 50px;
  right: 44px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  backdrop-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 1px;
    background: #fff;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.page-about-video {
  position: fixed;
  inset: 0;
  object-fit: cover;
  z-index: -1;
  height: 100vh;
  height: 100lvh;
  opacity: 0;
  visibility: hidden;
  transition: .5s opacity, .5s visibility;

  &.is-playing {
    opacity: 1;
    visibility: visible;
  }
}
